<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/create-contact" method="post">
        <input type="text" name="name" id="name">
        <input type="number" name="contact-no" id="contact">
        <button type="submit">Submit</button>
    </form>
    <div id="contact-info">
        <div>
            <div class="myname">vinayak</div>
            <div class="myno">49478437543857</div>
        </div>
        <% for(let i of contactDB) { %> 
            <div class="myname"> <%= i.name %>
            </div>
            <div class="myno"><%= i.contact %></div>
       <% }%>
    </div>
</body>
</html>